<!-- Header with Background Image -->
<%= render "header" %>
<!-- Page Content -->
<div class="container-fluid">
  <!-- row -->
  <div class="empty"></div>
  <div class="row row_custom">
  <h1 class="center">Recruiting software to tackle the most strategic problem companies face</h1>
  <p class="center">We founded limelight in 2017 to tackle the most strategic challenge that companies face: how to grow their teams. We're injecting the values we respect – collaboration, transparency, and humanity – into our software and re-imagining how organizations can think about growth, with talent and teamwork at the center.</p>
  </div>
  <div class="empty"></div>
</div>
<!-- footer -->
<%= render "footer" %>
