<!-- Navigation -->
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<%= render "nav_bar" %>
<!-- Header with Background Image -->
<%= render "header" %>

<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
  <h1>Pricing here</h1>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<%= render "footer" %>
