<!-- Navigation -->
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<%= render "nav_bar" %>
<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4">Modern recruiting software</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
  <h1>Services Page</h1>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>
