<div class="container">
  <div class="row">
    <div class="col-8-md col-offset-2">
      <h1>Editing Profile</h1>
    </div>
  </div>
</div>
<%= render 'form', user: @user %>
<div class="container">
  <div class="row">
    <div class="col-8-md col-offset-2">
      <%= link_to 'Show', company_user_path(@company, @user) %> |
      <%= link_to 'Back', company_job_postings_path(@company) %>
    </div>
  </div>
</div>
