<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Applicants By Date</div>
    <div class="card-body">
        <%= line_chart @applicants.group_by_day(:created_at).count, adapter: "chartjs" %>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
