<% content_for :title, '400 - Bad Request' %>

<% content_for :h1 do %>
  <h1>400 - Bad Request</h1>
<% end %>

<% content_for :jumbotron do %>
  <h3>We’re sorry, but the request you made is invalid.</h3>
  <p><%= link_with_icon_to :home, 'Back to the home-page', root_path %></p>
<% end %>
