<% content_for :title, '406 - Unknown Format' %>

<% content_for :h1 do %>
  <h1>406 - Unknown Format</h1>
<% end %>

<% content_for :jumbotron do %>
  <h3>You may have added an unacceptable extension at the end of the URL.</h3>
  <p><%= link_with_icon_to :home, 'Back to the home-page', root_path %></p>
<% end %>
