<% content_for :title, '422 - Unprocessable Entity' %>

<% content_for :h1 do %>
  <h1>422 - Unprocessable Entity</h1>
<% end %>

<% content_for :jumbotron do %>
  <h3>We’re sorry, but the change you wanted was rejected.</h3>
  <p><%= link_with_icon_to :home, 'Back to the home-page', root_path %></p>
<% end %>
