<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Performance &amp; Budget Allocation by Team </div>
    <div class="card-body">
        <%= bar_chart Team.all.map { |t| [t.name, t.job_postings.sum(&:min_salary)] }, adapter: "chartjs" %>
        <%= pie_chart Team.all.map { |t| [t.name, t.job_postings.size] }, adapter: "google" %>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
