<h1>Editing Job Posting</h1>

<%= render 'form', job_posting: @job_posting %>

<%= link_to 'Show', company_job_posting_path(@company, @job_posting)%> |
<%= link_to 'Back', company_job_postings_path(@company) %>
