<p id="notice"><%= notice %></p>

<h1>Main Dashbaord</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render 'grid', job_posting: @job_posting %>
  </tbody>
</table>

<br>
<%= link_to 'My Profile', company_user_path(@company, current_user) %> |
<%= link_to 'New Job Posting', new_company_job_posting_path %>
