<p id="notice"><%= notice %></p>

<h1>Main Dashbaord</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%= render 'grid', job_posting: @job_posting %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Posting', new_job_posting_path %>
