<div class="card">
	<div class = "center">
		<h1 class="card-header">New Job Posting</h1>
		<div class="card-body" style="background-color: whitesmoke ;margin:100px; margin-top: 50px; border-radius: 20px">
			<%= render 'form', job_posting: @job_posting %>
		</div>
	</div>
</div>