// Place all the styles related to the job_postings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center_form{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}