// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-brand
{
  font-family: 'Sofia';
}

.business-header {
  text-shadow: 0 1px 0 black;
  height: 50vh;
  min-height: 300px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ), url('https://www.avanade.com/~/media/images/content/background/solutions/future-of-work.jpg?h=1080&w=1920&hash=04B652309FC4FB4DB71D71011A85EA410F564CEF') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}
