<ol class="breadcrumb">
    <li style="padding-right: 15px !important;">
        <%= image_tag("fs-logo", size: "50x50", alt: "avatar") %>
    </li>
    <li class="breadcrumb-item pull-righ">
        <a href="#"><%= parent %></a>
    </li>
    <li class="breadcrumb-item active">
        <%= child %>
    </li>
</ol>
